*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.menu nav ul{
    display: flex;
    
}
.menu nav ul a{
    display: block;
    padding: 15px;
    margin: 1px;
    text-transform: uppercase;
    color: #727272;
}
nav ul a:hover{
    background-color: #39aae1;
    color: #FFFFFF;
}
.menu nav .active a{
    background-color: #39aae1;
    color: white;
}
#banner{
    display: flex;
    justify-content: center;
    background-image: url("../imagens/img1.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
   
}
.column{
    flex-direction: column;
}
.banner-texto{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    color: white;
    max-width: 350px;
    
}
.banner-texto h1{
    text-shadow: 0px 1px 3px
    rgba(0, 0, 0, 0.493);
    font-size: 70px;
    margin-bottom: 30px;
}
.banner-texto h2{
    font-size: 21px;
    text-shadow: 0px 1px 1px
    rgba(0, 0, 0, 0.5);
}
.banner-options{
    height: 210px;
    display: flex;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
}
.option{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4vh;
    flex: 1;
    color: #FFFFFF;
}
.color1{
    background-color: #39aae1;
}
.color2{
    background-color:#0079c7;
}
.color3{
    background-color: #2b4c99;
}
.option h1{
    font-size: 22px;
   
}
.option p{
    font-size: 14px;
}
.option p a{
    display: inline-block;
    font-size: 14px;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold; 
}
.color1 p a:hover{
    background-color: #FFFFFF;
    color: #39aae1; 
}
.color2 p a:hover{
    background-color: #FFFFFF;
    color: #0079c7; 
}
.color3 p a:hover{
    background-color: #FFFFFF;
    color: #2b4c99; 
}
.hours{
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid #ffffff33;
    padding-bottom: 10px;
    font-size: 14px;
}
#principal{
    display: flex;
    justify-content: center;
}
.noticias{
    height: 300px;
    flex: 2;
}
.informacoes{
    height: 300px;
    flex: 1;
}
.widget-title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget-title-text{
    color: #000000;
    font-weight: bold;
    font-size: 21px;
}
.widget-title-bar{
    width: 50px;
    height: 3px;
    background-color: #36a9e1;
    margin-top: 5px;
}
.widget-body{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-data{
    display: flex;
    margin-bottom: 30px;
}
.date-news{
    background-color: #2b4c99;
    color: #FFFFFF;
    padding: 10px;
    margin-right: 2px;
}
.news-comments{
    color: #FFFFFF;
    background-color: #39aae1;
    padding: 10px;
}
article{
    max-width: 45%;
    min-width: 250px;
    margin-right: 15px;
    margin-bottom: 20px;
}
article .news-thumb1 img{
    width: 100%;
    height: auto;
}
article .news-title{
    margin-top: 25px;
    color: #000000;
    margin-bottom: 25px;
    font-size: 23px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
article .news-resume{
    font-size: 14px;
    color: #5c5c5c;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
footer{
    display: flex;
}
footer .rodape{
    display: flex;
    background-color: #1e1e1e;
    justify-content: center;
    
}
.footer-aside{
    display: flex;
    
}